#Height_change {

  .container {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;

    .demo {
      min-height: calc(100vh - 56px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 40px 0;

      .wrap {
        max-width: 80%;

        button {
          margin: 10px 0;
        }

        .section {
          background-color: #ffffff;
          border: 1px solid #c2c2c2;

          &.collapsible {
            background-color: #001932;
            color: #ffffff;
            overflow: hidden;
            transition: height 0.5s ease-out;
          }

          p {
            margin: 10px;
          }
        }
      }
    }

    .code {
      min-height: calc(100vh - 56px);
      background-color: #001932;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 40px 0;

      .code-wrap {
        margin-bottom: 20px;
        max-width: 80%;
        width: 100%;

        p {
          color: #ffffff;
        }

        .code-header {
          background-color: #ffffff;
          padding: 10px;
        }
      }
    }

  }

}
