<section id="Height_change">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-6 col-sm-12">
        <div class="demo">
          <div class="wrap">
            <button class="btn btn-secondary btn-block" (click)="toggle()">Toggle height</button>
            <div class="section">
              <p>{{paragraph1}}</p>
            </div>
            <div class="section collapsible" ngxHeightToggle [open]="open">
              <p>{{paragraph2}}</p>
            </div>
            <div class="section">
              <p>{{paragraph3}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="code">
          <div class="code-wrap">
            <p>Call the method <code>toggle</code> to set the value of the variable <code>open</code>.</p>
            <div class="code-header">height-change.component.ts</div>
            <prism-highlight [language]="'javascript'" [code]="ts"></prism-highlight>
          </div>
          <div class="code-wrap">
            <p>Add the directive <code>ngxHeightToggle</code> to the element you want to toggle, and bind the
              <code>open</code> variable to the directive's <code>open</code> input, telling the directive whether the
              element should be expanded or collapsed.</p>
            <div class="code-header">height-change.component.html</div>
            <prism-highlight [language]="'html'" [code]="html"></prism-highlight>
          </div>
          <div class="code-wrap">
            <p>Specify a <code>transition</code> and <code>overflow</code> property for the collapsible
              element in css. </p>
            <div class="code-header">height-change.component.scss</div>
            <prism-highlight [language]="'css'" [code]="scss"></prism-highlight>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
