<section id="Getting_started">
  <div class="jumbotron">
    <div class="container">
      <h1>ngx-height-toggle</h1>
      <p>Angular directive to toggle the height of html elements to their content's height.</p>
    </div>
  </div>
  <div class="container">

    <h3>Dependencies</h3>
    <ul>
      <li>
        <a href="https://angular.io" target="_blank">Angular</a> (tested with 5.1.1)
      </li>
    </ul>

    <h3>Installation</h3>
    <p>After installing the above dependencies, install `ngx-height-toggle` via npm:</p>
    <prism-highlight [language]="'markup'" [code]="'npm install --save ngx-height-toggle'"></prism-highlight>
    <p>or with yarn:</p>
    <prism-highlight [language]="'markup'" [code]="'yarn add ngx-height-toggle'"></prism-highlight>
    <p>Once installed you need to import <code>HeightToggleModule</code> in your module where you'd like to use the
      directive:</p>
    <prism-highlight [language]="'js'" [code]="importCode"></prism-highlight>

    <h3>Usage</h3>
    <p> Go check out the demo pages for information about how to use the package to implement a simple
      <a routerLink="/height-change">height change</a>, or <a routerLink="/content-change">content change</a>. </p>

  </div>
</section>
