<section id="Content_change">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-6 col-sm-12">
        <div class="demo">
          <div class="wrap">
            <button class="btn btn-secondary btn-block" (click)="toggle()">
              Toggle height
            </button>
            <button class="btn btn-secondary btn-block" (click)="updateContent()" [disabled]="!open">
              Update content
            </button>
            <div class="section">
              <p>{{paragraph1}}</p>
            </div>
            <div class="section collapsible" ngxHeightToggle [open]="open">
              <p>{{paragraph2}}</p>
            </div>
            <div class="section">
              <p>{{paragraph3}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="code">
          <div class="code-wrap">
            <p>If you want to adjust the element's height when its content changes, you only have to import
              <code>NgxHeightToggleService</code> into your component and call its <code>contentChange</code>
              method after setting your content.</p>
            <div class="code-header">content-change.component.ts</div>
            <prism-highlight [language]="'javascript'" [code]="ts"></prism-highlight>
          </div>
          <div class="code-wrap">
            <div class="code-header">content-change.component.html</div>
            <prism-highlight [language]="'html'" [code]="html"></prism-highlight>
          </div>
          <div class="code-wrap">
            <div class="code-header">content-change.component.scss</div>
            <prism-highlight [language]="'css'" [code]="scss"></prism-highlight>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
